@import "bootstrap/scss/bootstrap";


html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.nav-link.active{
    color: rgb(133, 6, 23) !important
}

footer .nav-link{
    color: rgb(113, 113, 0) !important
}

footer .nav-link.active{
    color: rgb(242, 242, 3) !important
}