$font-family-sans-serif: var(--font-montserrat);
@import "bootstrap/scss/bootstrap";

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

h1{
	font-family: var(--font-roboto);
	font-weight: 700;
}

.nav-link {
	color: rgb(113, 113, 0) !important;
}

.nav-link.active {
	color: rgb(242, 242, 3) !important;
}